.headerContainer {
  width: 100%;
  height: 100px;
  background-color: #FFC531;
}
.headerContainer.main {
  background-color: transparent;
}
.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
.contactWrapper {
  width: 304px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.menu {
  display: flex;
  gap: 16px;
}
.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
.headerWrapper .headerIcon {
  width: 40px;
  height: 40px;
  fill: #fff;
}
.tabList {
  width: 100%;
  display: flex;
}
.tabBtn {
  width: 50%;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.activeTab {
 border: 1px solid rgba(0, 0, 0, 0.3); 
 border-bottom: none;
 border-top-left-radius: 12px;
 border-top-right-radius: 12px;
}
.tabContent {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: none;
  border-bottom-left-radius: 12px;
 border-bottom-right-radius: 12px;
}
