.featuresContainer {
    display: flex;
    gap: 24px;
}
.featuresWrapper {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.chipsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}
.chipsList .detailsIcon {
    width: 20px;
    height: 20px;
    fill: none;
  }
